build
compile_commands.json
.cache

__pycache__

*.o

.changelog
tmp
*.log

libengine.*
engine

check
nn
*.dSYM

# NNUE training outputs
training/out/*.pt
training/out/*.nnue

# Vendor
vendor/fathom/obj
vendor/fathom/libfathom.so
vendor/fathom/libfathom.a
vendor/nnue-probe/src/libnnueprobe.so
vendor/nnue-probe/src/libnnueprobe.a
vendor/nvim-laravel
.DS_Store
tinker

bin/*
!bin/books/
!bin/past/
benchmark
