build
compile_commands.json
.cache

__pycache__

*.o

.changelog
tmp
*.log

libengine.*
engine

extern
check.dSYM
check
nn
engine.dSYM

# NNUE training outputs
nnue_training/*.pt
nnue_training/*.nnue
